body {
  background-color: #c0c2c9;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.myLogo {
  width: 4rem;
  margin-right: 6rem;
}

.gradientBG {
  background: #000;
  height: 7rem;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 139, 0.6);
}

.OpenBars {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

.noHover:hover {
  text-decoration: none;
}

.colorLogo {
  width: 11rem;
  background: linear-gradient(
    160deg,
    #324ab2,
    rgba(255, 255, 255, 0.6),
    rgba(0, 0, 139, 0.6),
    #324ab2,
    #fff,
    rgba(0, 0, 139, 0.6)
  );
  background-size: 200% 100%;
  animation: BackgroundGradient 4s ease infinite;
  border-radius: 10rem;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer {
  border-radius: 15px 15px 0 0;
  padding-top: 0.5rem;
}
.footerHR {
  border-top: 2px solid #fff;
}

.emailFooter {
  color: #fff;
}

.emailFooter:hover {
  color: #000;
  text-decoration: none;
}

.socialIconsWA {
  font-size: 30px;
  color: #25d366;
}

.socialIconsEM {
  font-size: 30px;
  color: yellow;
}

.socialIconsLI {
  font-size: 30px;
  color: #0077b5;
}

.socialIconsGH {
  font-size: 30px;
  color: black;
}

.socialIconsGM {
  font-size: 30px;
  color: red;
}

.socialIconsGMap {
  font-size: 30px;
  color: grey;
}

.socialIconsSF {
  width: 1.8rem;
}

.cardbodyExtra {
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 15px;
  box-shadow: 0 0 5px #000;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #000;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.5rem; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1rem; /* Increase font size */
  font-family: Roboto, Helvetica, sans-serif;
  font-wieght: bold;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.myProjectsList {
  text-decoration: none;
  color: black;
  font-wieght: bold;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.JSLogo {
  width: 1.1rem;
  padding-bottom: 0.5rem;
}

.myProjectsLogos {
  width: 5rem;
  padding-top: 1rem;
}

.hackernewsLogo {
  width: 8rem;
  padding-top: 1rem;
}
.nuxtPortfolioLogo {
  width: 4rem;
  padding-top: 1rem;
}

.GlobeLogo {
  width: 3.5rem;
  padding-top: 1rem;
}

.myReactLogo {
  width: 4rem;
}
