body {
  background-color: #c0c2c9;
}


.underConstruction {
  width: 12em;
}

.logo {
  height: 6em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.5em #aa072d );
}